.loginForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  background: white;
  height: 100vh;
}

.form-container>image {}

.change-login-register button {
  text-decoration: none !important;
  color: var(--secundary) !important;
}



@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 601px) and (max-width: 900px) {}