#pagFooter{
    width: 100%;
    background-color: white;
    padding: 3rem 6rem;
    border-top: solid 1px var(--gray-04);
}

.text-secundary{
    font-size: 1rem;
    color: var(--gray-03);
}

.footer-links p{
    cursor: pointer;
}

#newsletter-button{
    border-bottom: 2px solid black; 
    cursor: pointer;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    /* text-decoration: underline; */
    /* line-height: 2rem; */
}

hr{
    background-color: black;
}