#features{
    background-color: var(--primary);
}

#features > div {
    gap: 10px;
}

#features p {
    color: black;
    font-size: 1.5rem;
}

#features p:last-child{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray-01);
}
